.answers {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 4rem;
}

@media screen and (max-width: 500px) {
  .answers {
    width: 100%;
  }
}
