.timer {
  width: 4rem;
  height: 4rem;
  border: 4px solid #e18c1d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  .timer {
    font-size: 1.5rem;
  }
}
