.app {
  display: flex;
  height: 100vh;
}

.userNameScreen {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #13106d;
}

.userNameScreen span {
  font-size: 1.3rem;
  color: #e18c1d;
}

.userNameScreen input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  outline: 1px solid #e18c1d;
  color: #e18c1d;
}

.userNameScreen input::placeholder {
  color: #e18c1d86;
}

.userNameScreen button {
  padding: 0.5rem 1rem;
  background-color: #13106d;
  border: 1px solid #e18c1d;
  color: #e18c1d;
}

.main {
  flex-basis: 75%;
  background: linear-gradient(
      0deg,
      rgba(19, 16, 109, 0.932) 0%,
      rgba(0, 212, 255, 0) 100%
    ),
    url("./assets//images/background.webp");
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.clock {
  font-size: 2rem;
  padding: 1rem;
  border: 5px solid #e18c1d;
  border-radius: 50%;
  background-color: #13106dab;
}

.game {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.moneyPyramid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  flex-basis: 25%;
  background-color: #13106d;
  color: white;
}

.moneyList {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.moneyListItem {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 1rem;
}

.moneyListItem.active {
  border: 1px solid #e18c1d;
}

.number {
  width: 2rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .moneyList {
    font-size: 1rem;
    gap: 0.2rem;
  }

  .moneyListItem {
    padding: 0.2rem 1rem;
  }
}
