.app {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  margin-bottom: 5rem;
}

.questionNumber {
  color: white;
  font-size: 1.5rem;
}

.messageCorrect {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(49, 211, 49);
}

.messageIncorrect {
  font-size: 1.2rem;
  font-weight: 500;
  color: red;
}

.winMessage {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(43, 219, 43);
}
